export(computeDS)
export(computeGES)
export(performGSVA)
export(plotHR)
export(plotKM)
export(predictCMS)
import(SummarizedExperiment)
import(forestplot)
import(ggplot2)
import(grid)
import(quadprog)
importFrom(GGally,ggsurv)
importFrom(GSVA,gsva)
importFrom(R.utils,insert)
importFrom(RColorBrewer,brewer.pal)
importFrom(e1071,impute)
importFrom(ggpubr,ggboxplot)
importFrom(grDevices,colorRampPalette)
importFrom(methods,is)
importFrom(pheatmap,pheatmap)
importFrom(pracma,lsqlincon)
importFrom(stats,aggregate)
importFrom(stats,cor)
importFrom(stats,median)
importFrom(stats,predict)
importFrom(stats,wilcox.test)
importFrom(survival,Surv)
importFrom(survival,coxph)
importFrom(survival,survfit)
